
python3 -m pip install  uvicorn[standard]
python3 uvicorn main:app --reload
pip3 install python-multipart
pip3 install --upgrade openai
pip3 install -U fastapi[all]
pip3 install PyPDF2
pip3 install pandas
pip3 install sqlalchemy
pip3 install pycryptodome


# make chanegs to piechart
# add bio marker gap analysis
# add risk analysis
# according to the bio marker analysis, give a list of doctors